*{
    box-sizing:border-box;
    margin:0px;
}

body{
    
}

#head{
    height:4rem;
    width:100%;
    background-color:black;
    color:red;
    font-size:4rem;
    text-align:center;
    position:fixed;
}

#images{
    height:30rem;
    width:100%;
    display:flex;
    column-gap:3rem;
    align-items:center;
    justify-content:center;
}

.opacity:hover{
    height:17rem;
    width:17rem;
    background-repeat:none;
    transition-duration:1s;
}
.rock{
    height:15rem;
    width:15rem;
    border:0.5rem solid black;
    border-radius:50%;
    background-image:url("rock2.png");
    background-size:contain;
    
}
.sic{
    height:15rem;
    width:15rem;
    border-radius:50%;
    border:0.5rem solid black;
    background-image:url("scissors2.png");
    background-size:contain;
}
.paper{
    height:15rem;
    width:15rem;
    border-radius:50%;
    border:0.5rem solid black;
    background-image:url("paper2.png");
    background-size:contain; 

}
#para{
    height:7rem;
    
    display:flex;
    justify-content:center;
    column-gap:4rem;
}
#user{
    border:1px solid black;
    font-size:3rem;
    text-align:center;
    background:orange;
}
#comp{
    border:1px solid black;
    font-size:3rem;
    text-align:center; 
    background:blue;
}
#last{
    height:4rem;
    width:70rem;
    margin-left:15rem;
    border-radius:10%;
    text-align:center;
    font-size:4rem;
    margin-top:4rem;
}

.computer{
    display:flex;
    height:20rem;
    width:100%;
    justify-content:center;
}
.computerchose{
    height:15rem;
    width:15rem;
    border:0.5rem solid black;
    border-radius:50%;
    background-image:url("rock2.png");
    background-size:contain;
    animation-name:companimation;
    animation-duration:2s;
    animation-iteration-count:infinite;

}

@keyframes companimation{
    0%{
        background-image:url("rock2.png"); 
    }
    50%{
        background-image:url("scissors2.png");
    }
    100%{
        background-image:url("paper2.png");
    }
}


